config = {
    'google_api_key':'',
    'youtube_playlist_id': '',
    'db_config': {
            'host': 'localhost',
            'dbname': 'youtube_watcher',
            'user': 'postgres',
            'password': 'postgres'
    },
    'kafka_producer_config': {
            'bootstrap.servers' : 'localhost:9092'
    },
    'kafka_consumer_config': {
        'bootstrap.servers':'localhost:9092',
        'auto.offset.reset': 'earliest'
    }
}

